boto3==1.28.17
dash==2.11.1
certifi==2023.7.22
dash-ag-grid==2.3.0
dash-mantine-components==0.12.1
dash-leaflet==0.1.28
Flask==2.3.2
gunicorn==21.2.0
pandas==2.0.3
plotly==5.15.0
pymysql==1.1.0
python-dotenv==1.0.0
SQLAlchemy==2.0.19
