boto3==1.34.7
dash==2.14.2
certifi==2023.11.17
dash-ag-grid==2.4.0
dash-mantine-components==0.12.1
dash-leaflet==1.0.13
Flask==3.0.0
gunicorn==21.2.0
pandas==2.0.3
plotly==5.18.0
psycopg>=3.1.16
SQLAlchemy==2.0.24
