boto3==1.20.26
dash==2.0.0
dash-bootstrap-components==1.0.2
dash-leaflet==0.1.23
Flask==2.0.2
gunicorn==20.0.4
pandas==1.0.3
plotly==5.5.0
python-dateutil==2.8.1
python-dotenv==0.19.1
sd-material-ui==4.6.0
SQLAlchemy==1.4.29
