

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: #F2F2F2;
}

.header {
    margin: 0;
    color: #606060;
}

.sub-header {
    color: #606060;
}

.MuiSnackbarContent-root {
    color: #fff !important;
    font-weight: 500 !important;
    background-color: #2196f3 !important;
    font-size: 1rem !important;
}

#quantity-tbl-div {
    overflow-y: auto;
    max-height: 43rem;
}

thead th { 
    position: sticky; 
    top: 0;
    background-color: #446e9b;
    color: #FFF;
}

#backdrop {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    visibility:hidden;
    z-index: 0;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

}

.drawer div {
    width: 240px;
    overflow-x: hidden;
}

#left-side-menu .drawer-title {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    color: rgba(0, 0, 0, 0.54);
    margin-top: 8px;
}

#left-side-menu ul {
    padding-left: 24px;
    list-style: none
}

#left-side-menu ul li{
    padding: 6px 8px;
    color: rgba(0, 0, 0, 0.87);
}

.side-nav-link span{
    font-size: .875rem;
    font-weight: 500;
}

.side-nav-link i{
    margin: 0 10px 0 0;
    font-size: 1.1rem;
}

.side-nav-link:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

.side-nav a {
    text-decoration: none !important;
}


.side-nav-sub {
    padding-left: 28px !important;
}

.map-sub-menu {
    display: none;
}

.side-sub-menu-hdr:hover ul {
    display:block;
}

.list-group-item-action {
    width: auto;
    cursor: pointer;
}

.card {
    z-index: 0;
}

.CalendarDay__blocked_out_of_range {
    text-decoration: line-through;
}

.DateInput, .DateInput_1 {
    border-radius: 4px 0 0 4px !important;
}

.DateInput_input, .DateInput_input_1 {
    Height: 34px !important;
    Width: 100% !important;
    border-radius: inherit;
}

.SingleDatePickerInput__withBorder {
    border-radius: 4px 0 0 4px;
    border: 1px solid #ccc !important;
}

#menu-button {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s;
}

#menu-button:hover {
    opacity: 1
}

.red {
    color: red
}

.green {
    color: green
}





.navbar {
    background-color: #F9F9F9;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 2px rgb(0 0 0 / 24%);
    margin: 0px 0px 15px 0px;
    padding: 0px;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-color: #e2e2e2;
    border-radius: 0px;
    height: 60px;
}

.card {
    border-width: 0px;
    border-style: solid;
    border-color: rgb(226, 226, 226);
    border-radius: 0px;
    outline: rgb(226, 226, 226) solid 0px;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
}

.card-header {
    font-weight: bold;
    margin: 5px 10px 0 10px;
    background-color: #ffffff;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #e2e2e2;
    box-shadow: 0px 0px 0px rgb(0 0 0 / 0%);
}