

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

#quantity-tbl-div {
    overflow-y: auto;
    max-height: 43rem;
    box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
    border-radius: 10px;
}

thead th { 
    position: sticky; 
    top: 0;
    background-color: #6c7ae0;
    color: #FFF;
}

.left-side-menu {
    position: fixed;
    background: #fff!important;
    max-width: 260px;
    -webkit-box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
    box-shadow: 0 7px 14px 0 rgba(65,69,88,.1), 0 3px 6px 0 rgba(0,0,0,.07);
    z-index: 1001!important;
    height: 100%;
    margin-left:-260px;
    transition: all 0.3s ease-in-out;
}

.left-side-menu li {
    list-style: none;
}

.leftbar-img {
    text-align: center;
}

.left-side-menu .side-nav .side-nav-title {
    color: #6c757d;
}

.side-nav .side-nav-title {
    padding: 12px 30px;
    letter-spacing: .05em;
    pointer-events: none;
    cursor: default;
    font-size: .6875rem;
    text-transform: uppercase;
    color: #cedce4;
    font-weight: 700;
}

.side-nav .side-nav-link {
    color: #6c757d;
    display: block;
    padding: 10px 30px;
    font-size: .9375rem;
    position: relative;
}

.side-nav .side-sub-menu-hdr {
    cursor: default;
}

.side-nav .side-nav-link i{
    display: inline-block;
    line-height: 1.0625rem;
    margin: 0 10px 0 0;
    font-size: 1.1rem;
    vertical-align: middle;
    width: 20px;
}

.side-nav .side-nav-link span {
    vertical-align: middle;
}

.side-nav a:hover {
    text-decoration: none;
}

.side-nav .side-sub-link {
    color: #6c757d;
    display: block;
    padding-top: 10px;
    font-size: .9375rem;
    position: relative;
}

.side-nav-link:hover,
.side-sub-link:hover {
    color: #1A73E8;
}

.map-sub-menu {
    display: none;
}

.side-sub-menu-hdr:hover ul {
    display:block;
}

#overlay {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    background-color: black;
    top: 0;
}

.list-group-item-action {
    width: auto;
    cursor: pointer;
}

.card {
    z-index: 0;
}

.CalendarDay__blocked_out_of_range {
    text-decoration: line-through;
}

.DateInput, .DateInput_1 {
    border-radius: 4px 0 0 4px !important;
}

.DateInput_input, .DateInput_input_1 {
    Height: 34px !important;
    Width: 100% !important;
    border-radius: inherit;
}

.SingleDatePickerInput__withBorder {
    border-radius: 4px 0 0 4px;
    border: 1px solid #ccc !important;
}

#menu-button {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s;
}

#menu-button:hover {
    opacity: 1
}

.red {
    color: red
}

.green {
    color: green
}
  